# Introduction
This is a test for doing some basic ETL on data.

## The Goal
The goal of this task is to take a pair excel files, load them into SQL, and then transform the dataset into a separate schema (called FHIR).

### Input data
The input data is an pair of excel files with patient information in it. Each file represents an extract of a data system, each made a month apart. Each file includes patients discharged during the last two months, so the data will have intersecting data points, but the union of the two is really what you want.  In the boilerplate code below, you can see the file paths and open them up in excel to browse it if you'd like. Feel free to ask questions about the file formatting.

# Exercise

## Load into SQL
First, begin by loading the data into a SQL database. We have Postgres running for you already, so use that. 
Username: carta
Password: password

The data should be a union of the data in both extract files, with an update time corresponding to the newest update date available for each row.

## Transform into FHIR

After the data is loaded into SQL, you'll produce some FHIR resources from the data. In particular, there are two resources you'll make:

1) Patient
2) Encounter

Both of those are defined on the FHIR website, here: http://fhir.org. We will do a validation on the data once it's done!

In [100]:
import pandas as pd
import numpy as np
from carta_interview import Datasets
from sqlalchemy import create_engine, schema
import time
engine = create_engine('postgresql://carta:password@localhost:5432/carta')
schemaname = 'FHIR'

In [101]:
# Dataset = Datasets()
# patient_extract1 = get_data_file(Datasets.PATIENT_EXTRACT1)
# patient_extract2 = get_data_file(Datasets.PATIENT_EXTRACT2)
patient_extract1 = pd.read_excel("/home/jovyan/data/patients-extract1.xlsx", index_col=0)
patient_extract2 = pd.read_excel("/home/jovyan/data/patients-extract2.xlsx", index_col=0)
df = pd.concat([patient_extract1, patient_extract2])
df['Update D/T'] = time.strftime("%d/%m/%Y %H:%M %p")
df = df.drop(df.index[0])
print(df.head(5))
df.to_sql('patient_extract', if_exists='replace', con=engine)

     Encounter ID First Name Last Name  Birth Date       Admission D/T  \
MRN
2            2345     Joanne       Lee  04/19/2002  04/19/2002 7:22 PM
3            3456  Annabelle     Jones  01/02/2001  04/21/2002 5:00 PM
20            987      Jerry     Jones  01/02/1988  05/01/2002 2:00 PM
2            2345     Cosmia       Lee  04/19/2002  04/19/2002 7:22 PM
3            3456  Annabelle     Jones  01/02/2001  04/21/2002 5:00 PM

          Discharge D/T           Update D/T
MRN
2    04/20/2002 6:22 AM  16/08/2020 10:14 AM
3    04/23/2002 2:53 AM  16/08/2020 10:14 AM
20   05/02/2002 9:00 PM  16/08/2020 10:14 AM
2    04/20/2002 6:22 AM  16/08/2020 10:14 AM
3    04/23/2002 2:53 AM  16/08/2020 10:14 AM

In [102]:
if not engine.dialect.has_schema(engine, schemaname):
   print('Schema Created')
   engine.execute(schema.CreateSchema(schemaname))

In [103]:
Patient = pd.read_sql("""select distinct"MRN", 
                      "First Name", 
                      "Last Name", 
                      "Birth Date" 
                      from patient_extract 
                      order by "MRN" """, engine)
Patient.to_sql('patient', if_exists='replace', con=engine, schema=schemaname)
print(Patient)

   MRN First Name Last Name  Birth Date
0    2     Cosmia       Lee  04/19/2002
1    2     Joanne       Lee  04/19/2002
2    3  Annabelle     Jones  01/02/2001
3   20      Jerry     Jones  01/02/1988

In [104]:
Encounter = pd.read_sql("""select "MRN", "Encounter ID", "Admission D/T", "Discharge D/T", "Update D/T" 
                        from patient_extract
                        order by "MRN" """, engine)
Encounter.to_sql('encounter', if_exists='replace', con=engine, schema=schemaname)
print(Encounter)

   MRN  Encounter ID       Admission D/T       Discharge D/T  \
0    2          2345  04/19/2002 7:22 PM  04/20/2002 6:22 AM
1    2          2345  04/19/2002 7:22 PM  04/20/2002 6:22 AM
2    3          3456  04/21/2002 5:00 PM  04/23/2002 2:53 AM
3    3          3456  04/21/2002 5:00 PM  04/23/2002 2:53 AM
4   20           987  05/01/2002 2:00 PM  05/02/2002 9:00 PM

            Update D/T
0  16/08/2020 10:14 AM
1  16/08/2020 10:14 AM
2  16/08/2020 10:14 AM
3  16/08/2020 10:14 AM
4  16/08/2020 10:14 AM