In [ ]:
# Introduction
This is a test for doing some basic ETL on data.

## The Goal
The goal of this task is to take a pair excel files, load them into SQL, and then transform the dataset into a separate schema (called FHIR).

### Input data
The input data is an pair of excel files with patient information in it. Each file represents an extract of a data system, each made a month apart. Each file includes patients discharged during the last two months, so the data will have intersecting data points, but the union of the two is really what you want.  In the boilerplate code below, you can see the file paths and open them up in excel to browse it if you'd like. Feel free to ask questions about the file formatting.

# Exercise

## Load into SQL
First, begin by loading the data into a SQL database. We have Postgres running for you already, so use that. 
Username: carta
Password: password

The data should be a union of the data in both extract files, with an update time corresponding to the newest update date available for each row.

## Transform into FHIR

After the data is loaded into SQL, you'll produce some FHIR resources from the data. In particular, there are two resources you'll make:

1) Patient
2) Encounter

Both of those are defined on the FHIR website, here: http://fhir.org. We will do a validation on the data once it's done!

In [68]:
import pandas as pd
import numpy as np
import psycopg2
from sqlalchemy import create_engine
from carta_interview import Datasets, get_data_file

In [69]:
patient_extract1 = get_data_file(Datasets.PATIENT_EXTRACT1)
patient_extract2 = get_data_file(Datasets.PATIENT_EXTRACT2)

In [70]:
df1 = pd.read_excel(patient_extract1)

In [71]:
df2 = pd.read_excel(patient_extract2)

In [72]:
union = pd.concat([df1, df2], ignore_index=True)

In [73]:
sorted_union = union.sort_values(by='Update D/T', inplace=False, ascending=False)

In [74]:
sorted_union.drop_duplicates(subset=['MRN', 'Encounter ID', 'First Name', 'Last Name', 'Birth Date', 'Admission D/T', 'Discharge D/T']).reset_index(drop=True)

,MRN,Encounter ID,First Name,Last Name,Birth Date,Admission D/T,Discharge D/T,Update D/T
0,20,987,Jerry,Jones,01/02/1988,05/01/2002 2:00 PM,05/02/2002 9:00 PM,05/17/2002 6:00 AM
1,2,2345,Cosmia,Lee,04/19/2002,04/19/2002 7:22 PM,04/20/2002 6:22 AM,05/17/2002 6:00 AM
2,3,3456,Annabelle,Jones,01/02/2001,04/21/2002 5:00 PM,04/23/2002 2:53 AM,05/17/2002 6:00 AM
3,1,1234,John,Doe,01/02/1999,04/12/2002 5:00 PM,04/13/2002 10:00 PM,04/24/2002 6:00 AM
4,2,2345,Joanne,Lee,04/19/2002,04/19/2002 7:22 PM,04/20/2002 6:22 AM,04/24/2002 6:00 AM

In [75]:
engine = create_engine('postgresql://carta:password@localhost:5432/postgres')

In [76]:
sorted_union.to_sql('all_data', engine)

ValueError: Table 'all_data' already exists.

In [77]:
conn = psycopg2.connect(
   database="postgres", user='carta', password='password', host='localhost', port= '5432'
)

In [78]:
cur = conn.cursor()

In [79]:
sql_patient ='''CREATE TABLE IF NOT EXISTS patient(
   id integer primary key,
   first_name varchar(50),
   last_name varchar(50),
   birth_date date
)'''
cur.execute(sql_patient)

In [80]:
sql_encounter ='''CREATE TABLE IF NOT EXISTS encounter(
   id integer primary key,
   encounter_id integer,
   patient_id integer,
   admission_dt timestamp,
   discharge_dt timestamp,
   CONSTRAINT fk_patient
      FOREIGN KEY(patient_id) 
	  REFERENCES patient(id)
)'''
cur.execute(sql_encounter)